{% extends "base.html" %}
{% block content %}
<h1> Dodaj nową maszynę </h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
      {{ form.machine_name.label }}
      {{ form.machine_name(size=16)}}

      {{ form.submit }}

      {% if form.errors %}
      {{ form.errors }}<br>
      {% endif %}
  </form>
{% if machine_list %}
<table border =1>
  <tr>
    <td>id</td>
    <td>Nazwa</td>
  </tr>
    {% for machine in machine_list %}
    <tr>
        <form action="" method="post">
          <td>{{ machine.id }}</td>
          <td>{{ machine.name }} </td>
          <input type="hidden" name="form_machine_id" value="{{ machine.id }}">
          <td><input type="submit" name="remove" value="usuń"</td>
        </form>
    </tr>
      {% endfor %}
</table>
{% endif %}
{% endblock %}
