<style>
#issues {
  font-family: "Arial", Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#issues td, #issues th {
  border: 3px solid #black;
  padding: 8px;
}

#issues tr:nth-child(even){background-color: #f2f2f2;}

#issues tr:hover {background-color: #ddd;}

#issues th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

div {
  margin: 7px;
}
#my_select {
width: 200px;
}

#my_input {
width: 200px;
}
</style>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% if version %}
    <title>Złoszenia serwisowe ETI {{ version }}</title>
    {% else %}
    <title>Zgłoszenia serwisowe ETI</title>
    {% endif %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("pl") }}
</head>
<body>
    <div>
        <p>
            <H2>Zgłoszenia serwisowe ETI {{ version }}</H2>
            {% if current_user.username %}
            <H3> Zalogowany jako:
              <a href=" {{ url_for('edit_user', user_id = current_user.id) }}">{{ current_user.username }}</a>
            ({{ current_user.user_type }})</H3><br>
            {% endif %}
            Menu:
            {% if current_user.is_anonymous %}
              <a href=" {{ url_for('login') }}">Logowanie</a>
            {% else %}
                <a href=" {{ url_for('index') }}">Strona główna</a>
            {% if current_user.user_type not in "warehouse" %}
                <a href=" {{ url_for('new_issue') }}">Nowe zgłoszenie</a>
            {% endif %}
            <a href=" {{ url_for('issues') }}">Zgłoszenia</a>
            <a href=" {{ url_for('issues_lite') }}">Zgłoszenia (BETA)</a>
            <a href="{{ url_for('logout') }}">Wyloguj</a>
            {% if current_user.user_type in "admin" %}
            <br><br> Narzędzia administatora:
                <a href=" {{ url_for('users') }}">Użytkownicy</a>
                <a href=" {{ url_for('add_machine') }}">Maszyny</a>
                <a href=" {{ url_for('events') }}">Zdarzenia</a>
            {% endif %}
            {% if current_user.user_type in ("admin", "office") %}
                <br><br> Moduł płatności:
                <a href=" {{ url_for('payments') }}">Płatności</a>
                <a href=" {{ url_for('customers') }}">Klienci</a>
            {% endif %}
            {% endif %}
        </p>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}

<script>
$(document).ready(function(){
  $("#my_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#my_table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
