<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% if version %}
    <title>Złoszenia serwisowe ETI {{ version }}</title>
    {% else %}
    <title>Zgłoszenia serwisowe ETI</title>
    {% endif %}
</head>
<body>
    <div>
        <H2>Zgłoszenia serwisowe ETI 0.01</H2>
        <H3>Zalogowany jako: {{ current_user.username }} ({{ current_user.user_type }})</H3><br>
        Menu:
        <a href=" {{ url_for('index') }}">Strona główna</a>
        {% if current_user.is_anonymous %}
        <a href=" {{ url_for('login') }}">Logowanie</a>
        {% else %}
        <a href=" {{ url_for('new_issue') }}">Nowe zgłoszenie</a>
        <a href=" {{ url_for('issues') }}">Zgłoszenia</a>
        <a href="{{ url_for('logout') }}">Wyloguj</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>
</html>