{% extends "base.html" %}
{% block content %}

<hr>
<div>
    <form action="" method = "post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.owner.label }}
            {% if current_user.user_type in ("admin", "office") %}
              {{ form.owner(size=12) }}
            {% else %}
              {{ form.owner(size=12, readonly=True) }}
            {% endif %}
        </p>
        <p>
            {{ form.machine_name.label }}
            <select name="machine_name" class="selectpicker form-control" id="my_select">
                {% for machine in machines_list %}
                <option value = '{{ machine }}'>{{ machine.name }}</option>
                {% endfor %}
                <option value = '{{ current_issue.machine_model }}' selected>{{ current_issue.machine_model }}</option>
            </select>
            <br>
        </p>
        <p>
            {{ form.serial_number.label }}
            {{ form.serial_number(size=12) }}<br>
        </p>
        <p>
            {{ form.part_number.label }}
            {{ form.part_number(size=12) }}<br>
        </p>
        <p>
            {{ form.quantity.label }}
            {{ form.quantity(size=5)  }}<br>
        </p>
        <p>
            {{ form.part_name.label }}
            {{ form.part_name(size=32) }} <br>
        </p>
        <p>
            {{ form.issue_desc.label }} <br>
            {{ form.issue_desc(cols=50, rows=1) }}
        </p>
        {% if current_user.user_type in ("admin", "warehouse", "office") %}
            <p>
                {{ form.where_is_part.label }}
                <select name="where_is_part" class="selectpicker form-control" id="my_select">
                    <option value="nowe">Nowe</option>
                    <option value="czeka na dostarczenie">Czeka na dostarczenie</option>
                    <option value="dostarczone">Dostarczone</option>
                    <option value="do wysłania do producenta">Do wysłania do producenta</option>
                    <option value="do zwrotu klientowi">Do zwrotu klientowi</option>
                    <option value="zamknięte">Zamknięte</option>
                    <option value="{{ current_issue.where_is_part }}" selected>{{ current_issue.where_is_part }}</option>
                </select><br>
            </p>
            <p>
                {{ form.exchange_status.label }}
                <select name="exchange_status" class="selectpicker form-control" id="my_select">
                    <option value="nowe">Nowe</option>
                    <option value="czeka na wydanie">Czeka na wydanie</option>
                    <option value="czeka na wydanie (do zamówienia)">Czeka na wydanie (do zamówienia)</option>
                    <option value="czeka na wydanie (zamówione)">Czeka na wydanie (zamówione)</option>
                    <option value="czeka na wydanie (z dostawy)">Czeka na wydanie (z dostawy)</option>
                    <option value="wydane z maszyny">Wydane z maszyny</option>
                    <option value="wydane">Wydane</option>
                    <option value="odrzucone">Odrzucone</option>
                    <option value="{{ current_issue.exchange_status }}" selected>{{ current_issue.exchange_status }}</option>
                </select><br>
                <br>
            </p>
            {% if current_user.user_type in ("admin", "office") %}
                <p>
                    {{ form.janome_status.label }}
                    <select name="janome_status" class="selectpicker form-control" id="my_select">
                        <option value="niezgłoszone">Niezgłoszone</option>
                        <option value="zgłoszone">Zgłoszone</option>
                        <option value="czeka na wymianę">Czeka na wymianę</option>
                        <option value="wymienione">Wymienione</option>
                        <option value="odrzucone">Odrzucone</option>
                        <option value="{{ current_issue.janome_status  }}" selected>{{ current_issue.janome_status  }}</option>
                    </select><br>
                </p>
                <p>
                    {{ form.comment.label }}<br>
                    {{ form.comment(cols=50, rows=1)  }}<br>
                </p>
                <p>
                    {{ form.customer_delivery_time.label }}
                    <input type="date" name="customer_delivery_time" value="{{ current_issue.customer_delivery_time }}">
                </p>
                <p>
                    {{ form.delivery_time.label }}

                    <input type="date" name="delivery_time" value="{{ current_issue.delivery_time }}">
                </p>
            {% endif %}
        {% endif %}
        <p> {{ form.submit }}</p>

        {% if form.errors %}
        {{ form.errors }}<br>
        {{ form.owner.data }}
        {{ form.machine_name.data }}
        {% endif %}
    </form>
</div>

{% endblock %}
