<table border =1 id="issues">
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Zgłaszajacy</th>
        <th>Model maszyny</th>
        <th>Numer seryjny</th>
        <th>Numer części</th>
        <th>Ilość</th>
        <th>Nazwa części</th>
        <th>Opis usterki</th>
        <th>Status dostarczenia do magazynu</th>
        <th>Status wymiany klientowi</th>

    </tr>
    {% for issue in issues %}
    <tr>
        <form action="" method="post">
            <td> {{issue.id }}</td>
            <td>{{ moment(issue.time_stamp).format('LLL') }}</td>
            <td>{{ issue.owner }}</td>
            <td>{{ issue.machine_model }}</td>
            <td>{{ issue.serial_number }}</td>
            <td>{{ issue.part_number }}</td>
            <td>{{ issue.quantity }}</td>
            <td>{{ issue.part_name }}</td>
            <td>{{ issue.issue_desc }}</td>
            {% if issue.where_is_part == "czeka na dostarczenie" %}
                <td bgcolor="red">{{ issue.where_is_part }}</td>
            {% else %}
                <td>{{ issue.where_is_part }}</td>
            {% endif %}
            <td>{{ issue.exchange_status }}</td>
            <input type="hidden" name="form_id" value="{{ issue.id }}">
            <td><input type="submit" name="edit" value="Zmień"></td>
        </form>

    </tr>
        {% endfor %}
</table>
