<table border =1>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Zgłaszajacy</th>
        <th>Model maszyny</th>
        <th>Numer seryjny</th>
        <th>Numer części</th>
        <th>Ilość</th>
        <th>Nazwa części</th>
        <th>Opis usterki</th>
        <th>Status dostarczenia do magazynu</th>
        <th>Status wymiany klientowi</th>

    </tr>
    {% for issue in issues %}
    <tr>
        <form action="" method="post">
            <td> {{issue.id }}</td>
            <td>{{ moment(issue.time_stamp).format('LLL') }}</td>
            <td>{{ issue.owner }}</td>
            <td>{{ issue.machine_model }}</td>
            <td>{{ issue.serial_number }}</td>
            <td>{{ issue.part_number }}</td>
            <td>{{ issue.quantity }}</td>
            <td>{{ issue.part_name }}</td>
            <td>{{ issue.issue_desc }}</td>
            <td>{{ issue.where_is_part }}</td>
            <td>{{ issue.exchange_status }}</td>
            <input type="hidden" name="form_id" value="{{ issue.id }}">
           {# <input type="hidden" name="form_owner" value="{{ issue.owner }}">
            <input type="hidden" name="form_machines_model" value="{{ issue.machines_model }}">
            <input type="hidden" name="form_serial_number" value="{{ issue.serial_number }}">
            <input type="hidden" name="form_part_number" value="{{ issue.part_number }}">
            <input type="hidden" name="form_part_quantity" value="{{ issue.quantity }}">
            <input type="hidden" name="form_part_name" value="{{ issue.part_name }}">
            <input type="hidden" name="form_issue_desc" value="{{ issue.issue_desc }}">
            <input type="hidden" name="form_where_is_part" value="{{ issue.where_is_part }}">
            <input type="hidden" name="form_exchange_status" value="{{ issue.exchange_status }}">
            <input type="hidden" name="form_janome_status" value="{{ issue.janome_status }}">
            <input type="hidden" name="form_comment" value="{{ issue.comment }}"> #}
            <td><input type="submit" name="edit" value="Zmień"></td>
        </form>

    </tr>
        {% endfor %}
</table>