<table border =1>
    <tr>
        <td>Data</td>
        <td>Zgłaszajacy</td>
        <td>Model maszyny</td>
        <td>Numer seryjny</td>
        <td>Numer części</td>
        <td>Ilość</td>
        <td>Nazwa części</td>
        <td>Opis usterki</td>
        <td>Status dostarczenia do magazynu</td>
        <td>Status wymiany klientowi</td>
        <td>Status zgłoszenia w Janome</td>
        <td>Termin dostawy do klienta</td>
        <td>Termin dostawy do ETI</td>
        <td>Uwagi</td>
    </tr>
    {% for issue in issues %}
    <tr>
        <form action="" method="post">
            <td>{{ issue.time_stamp }}</td>
            <td>{{ issue.owner }}</td>
            <td>{{ issue.machine_model }}</td>
            <td>{{ issue.serial_number }}</td>
            <td>{{ issue.part_number }}</td>
            <td>{{ issue.quantity }}</td>
            <td>{{ issue.part_name }}</td>
            <td>{{ issue.issue_desc }}</td>
            <td>{{ issue.where_is_part }}</td>
            <td>{{ issue.exchange_status }}</td>
            <td>{{ issue.janome_status }}</td>
            <td>{{ issue.customer_delivery_time }}</td>
            <td>{{ issue.delivery_time }}</td>
            <td>{{ issue.comment }}</td>
            <input type="hidden" name="form_id" value="{{ issue.id }}">
           {# <input type="hidden" name="form_owner" value="{{ issue.owner }}">
            <input type="hidden" name="form_machines_model" value="{{ issue.machines_model }}">
            <input type="hidden" name="form_serial_number" value="{{ issue.serial_number }}">
            <input type="hidden" name="form_part_number" value="{{ issue.part_number }}">
            <input type="hidden" name="form_part_quantity" value="{{ issue.quantity }}">
            <input type="hidden" name="form_part_name" value="{{ issue.part_name }}">
            <input type="hidden" name="form_issue_desc" value="{{ issue.issue_desc }}">
            <input type="hidden" name="form_where_is_part" value="{{ issue.where_is_part }}">
            <input type="hidden" name="form_exchange_status" value="{{ issue.exchange_status }}">
            <input type="hidden" name="form_janome_status" value="{{ issue.janome_status }}">
            <input type="hidden" name="form_comment" value="{{ issue.comment }}"> #}
            <td><input type="submit" name="edit" value="Zmień"></td>
        </form>

    </tr>
        {% endfor %}
</table>